body {
    /* height: 100%; */
    background-color: #343A40;
}
#register-container {
    padding-top: 4em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register-container h1 {
    font-family: lobster;
    font-size: 3em;
    color: whitesmoke;
    padding: 1em;
}
#register-box {
    /* z-index: 1; */
    border: 15px solid white;
    border-radius: 0.25em;
    width: 330px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register-box a {
    margin-bottom: 1em;
}
.form-signup {
    padding-top: 1em;
}
.form-input {
    font-size: 1.2em;
}
button {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.error-msg {
    color: red;
    margin: 15px;
}